*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-image: url("/img/background-white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Navbar*/
header{
    display: flex;
}
.navbar{
    z-index: 2;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.78);

    padding: 35px 0 24px;
    margin-bottom: 50px;
}

.opciones-navbar{display: flex;}

.opciones-navbar li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.opciones-navbar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.15s ease-in-out;
}
.opciones-navbar li a:hover:after {width: 100%;}

.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top:9%;
    right: 20px;
    transform: translateY(-50%);
}
#check {display: none;}


.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 18px;
    transition: 0.6s;
}

.navbar a:hover{
    text-decoration: underline;
    transition: 0.6s;
}

.navbar img{
    width: 20px;
    height: 20px;
    margin: 0px 10px 0 0;
    padding: 0;
}
.nav-bar-logo{
    margin-right: 75px;
}
.nav-bar-logo img{
    width: 200px;
    height: 35px;
}


@media(max-width: 767px){
    .opciones-navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.596);
        transition: all 0.2s ease-in-out;
    }
    .opciones-navbar li {margin-top: 40px;}
    .opciones-navbar li a {margin: 10px 0; text-align: center;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .opciones-navbar {right: 0;}
}

.btnReserv{
    padding: 8px 50PX;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #AD974F;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    font-weight: bold;
}
.btnReserv:hover{
    background-color: #83723c;
    transition: 0.6s;
    font-weight: bold;
}

.language{
    background-color: #00000000;
    color: white;
    padding: 0;
    margin: 0 0 0 30px;
    cursor: pointer;
}


option{
    background-color: #00000000;
    color: black;
}


/* MODAL */
.overLay{
    background-color: rgba(0, 0, 0, 0.838);
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 2000;
}
.active{
    visibility: visible;
}

.popup{
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 700px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;

}
.btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #b98121;
    transform: .3s ease all;
}
.btn-cerrar-popup:hover{
    color: black;
}


.popup form .contenedor-inputs{
    opacity: 0;
}
.popup form .contenedor-inputs input{
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: start;
    border: 1px solid #8c631c;
}
.popup .btn-submit{
    padding: 8px 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #eddcb5;
    background-color: #8c631c;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    transition: 0.6s;
    text-decoration: none;
}
.popup .btn-submit:hover{
    background-color: #c0821f;
    opacity: 0.9;
    transition: 0.6s;
}
.popup.active{
    opacity: 1;
    transform: scale(1);
}

.popup.active h2{
    animation: entradaTitulo 1s ease .5s forwards;

}
@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;

    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.popup.active .contenedor-inputs{
    animation: entradaForm 1s ease .5s forwards;

}
@keyframes entradaForm{
    from{
        transform: translateY(25px);
        opacity: 0;
    
    }
    to{
        transform: translateY(0);
        opacity: 1; 
    }
}


/*Container pedidos solicidatos*/
#factura{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7% 0;
}

.facturacionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin: 10px 40px;
}

#productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 25px 10px;
}

/* */


.descripcion-plato-shop{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    height: 100px;
    width: 95%;
    background-color: rgba(245, 245, 245, 0.918);
    padding: 52px 0;
    border-radius: 17px;
}

.descripcion-comida-shop{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.descripcion-comida-shop h4{
    font-size: 18px;
    color: #AD974F;
    width: 135px;

}

.descripcion-comida-shop h6{
    font-size: 10px;
    color: #AD974F;
    margin: 0 30px;
}

.descripcion-comida-shop p{
    font-size: 12px;
    margin: 0 30px;
}

.descripcion-comida-shop p span{
    font-weight: bold;
    color: black;
}

.descripcion-comida-shop p:nth-of-type(1){
    font-weight: bold;
    margin: 0 30px;
}

.descripcion-comida-shop p:nth-of-type(2){
    margin: 8px 30px;
}

.descripcion-comida-shop a{
    font-size: 15px;
    background-color: #AD974F;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 185px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.8s;
    margin: 0 10px
}

.descripcion-comida-shop a:hover{
    opacity: 1;
    transition: 0.8s;
}

.foto-comida-shop img{
    width: 130px;
    margin: 0 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(31, 31, 31)
}


/*Seccion Factura PRECIO TOTAL*/

form{
    background-color: rgba(245, 245, 245, 0.918);
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 6px -4px rgba(0, 0, 0, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pedidoInfo{
    background-color: rgb(230, 230, 230);
    border: solid 1px black;
    padding: 25px;
    border-radius: 25px;
    margin: 25px;
}

.pedidoInfo p{
    text-align: center;
    font-weight: bold;
}




/*Factura electronica*/
#factura {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h2, h3 {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-align: center;
}

p {
    color: black;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}


input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #555;
}

#totalpedido {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
}

input{
    border: none;
}

select, option{
    border:none;
}



/* Media Query MOVIL*/
@media screen and (max-width: 768px) {

    #factura{
        margin: 85px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .facturacionContainer{
        display: flex;
        flex-direction: column;
    }

    #productos{
        margin: 0;
        padding: 25px 0px;
    }

    .descripcion-plato-shop{
        margin: 20px 0;
        height: 100px;
        width: 95%;
        padding: 52px 0;
    }

    .descripcion-comida-shop h4{
        font-size: 18px;
        width: 135px;
    }
    
    .descripcion-comida-shop h6{
        font-size: 10px;
        margin: 0 5px;
    }
    
    .descripcion-comida-shop p{
        font-size: 12px;
        margin: 0 5px;
    }
 }
 
 
 
 /* MEDIA QUERY Laptop - Tablet */
 @media screen and (min-width:767px) and (max-width: 1023px){
    
    
 }